<div class="container ">
    <body class="bg-gray-100 p-8 ">
        
    
        <div class="max-w-md mx-auto bg-white p-8 rounded-md shadow-md">
            <h2 class="text-2xl font-semibold mb-6">Employee Registration Form</h2>
    
            <form action="#" #empForm="ngForm" (ngSubmit)="update()"  method="post" class="employee-form" >
                <!-- ID 
                <div class="mb-4">
                    <label for="employeeId" class="block text-sm font-medium text-gray-600">ID</label>
                    <input type="text" [(ngModel)]="employee.employeeID" id="employeeId" name="employeeId" class="mt-1 p-2 w-full border rounded-md">
                </div> -->
    
                <!-- First Name -->
                <div class="mb-4">
                    <label for="firstName" class="block text-sm font-medium text-gray-600">First Name</label>
                    <input type="text" [(ngModel)]="employee.employeeFName" id="firstName" name="firstName" class="mt-1 p-2 w-full border rounded-md">
                </div>
    
                <!-- Last Name -->
                <div class="mb-4">
                    <label for="lastName" class="block text-sm font-medium text-gray-600">Last Name</label>
                    <input type="text" [(ngModel)]="employee.employeeLName" id="lastName" name="lastName" class="mt-1 p-2 w-full border rounded-md">
                </div>
    
                <!-- Email ID -->
                <div class="mb-6">
                    <label for="email" class="block text-sm font-medium text-gray-600">Email ID</label>
                    <input type="email" [(ngModel)]="employee.employeeEmail" id="email" name="email" class="mt-1 p-2 w-full border rounded-md">
                </div>
    
                <!-- Submit Button -->
                <div class="flex items-center justify-end">
                    <button type="submit"  class="px-4 py-2  bg-blue-500 text-white rounded-md hover:bg-blue-600 focus:outline-none focus:shadow-outline-blue active:bg-blue-800">Update</button>
                </div>
            </form>
        </div>
        <div >
    
        </div>
        
    </body>
    
    </div>
    
    

